<div class="container">
  <div>
    <label>
      <input type="radio" [(ngModel)]="gameMode" value="create" /> Create Game
    </label>
    <label>
      <input type="radio" [(ngModel)]="gameMode" value="join" /> Join Game
    </label>
  </div>

  <div *ngIf="gameMode === 'create'">
    <button (click)="createGame()">Create Game</button>
  </div>

  <div *ngIf="gameMode === 'join'">
    <input type="text" [(ngModel)]="gameId" placeholder="Game id">
    <button (click)="joinGame()">Join Game</button>
  </div>

  <div *ngIf="gameId">
    <p>Game ID: {{ gameId }}</p>
  </div>

  <iframe 
    id="iframeId"
    [src]="iframePlayerOneUrl" 
    width="400" height="400" frameborder="0"></iframe>
</div>
